﻿@using AMaz.Entity
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Admin Page";
    Layout = "_AdminLayout";
}

<!-- Main Content -->
<div class="main-content">
    <section class="section">
        <div class="section-header">
            <h1 style="color: white;">Hero</h1>
        </div>

        <div class="section-body">
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="hero text-white hero-bg-image hero-bg-parallax" style="background-image: url('../../images/unsplash/andre-benz-1214056-unsplash.jpg');">

                        <div class="hero-inner">
                            <h2>Welcome, @User.Identity.Name!</h2>
                            <p class="lead">You almost arrived, complete the information about your account to complete registration.</p>
                            <div class="mt-4">
                                <a asp-action="Index" asp-controller="Account" class="btn btn-outline-white btn-lg btn-icon icon-left"><i class="far fa-user"></i> View Account</a>
                                <a asp-action="Index" asp-controller="AcedamicYear" class="btn btn-outline-white btn-lg btn-icon icon-left"><i class="far fa-user"></i> View Acedamic Year</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

