@{
    ViewData["Title"] = "Home Page";
}

@* <div class="text-center">
    @if (User.Identity.IsAuthenticated)
    {
        <h1 class="display-4">Welcome, @User.Identity.Name!</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    }
    else
    {
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    }
</div> *@


<!-- Home -->
<section id="home">
    <h2>Enhance Your Future</h2>
    <p>
        Explore the vibrant stories and talents within our university community! Contribute your unique perspective
        by submitting articles and captivating images for the annual magazine.
    </p>
</section>

<!-- End Home -->


@section CSS {
    <link href="~/assets/css/main-body.css" rel="stylesheet" />
}