@{
    ViewData["Title"] = "Login";
}

<div class="login-back">
    <div class="container" id="container">
        <div class="form-container sign-up">
            <form>
                <h1>Request Form</h1>
                <input type="text" placeholder="Name">
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Last Password">
                <textarea name="" id="" cols="30" rows="5">Tell us your problem?</textarea>
                <button>Request</button>
            </form>
        </div>
        <div class="form-container sign-in">
            <form asp-controller="Account" asp-action="Login" method="post">
                <h1>Sign In</h1>
                <input type="text" id="email" name="email" placeholder="Your Email" required />
                <input type="password" id="password" name="password" placeholder="Password" required />
                <a href="#">Forget Your Password?</a>
                <button type="submit">Sign In</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Welcome Back!</h1>
                    <p>Enter your personal details to use all of site features</p>
                    <button class="hidden" id="login">Sign In</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Got Trouble!</h1>
                    <p>Request to administrator to solve the problem</p>
                    <button class="hidden" id="register">Request</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section CSS {
    <link href="~/assets/css/login.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/assets/js/loginscript.js"></script>
}


